---
import IdCard from "../components/IdCard.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="About">
	<IdCard />
	<p class="mt-10 text-8xl">I wish I was special</p>
</MainLayout>
