---
---

<div
	class="flex h-fit w-fit min-w-full border rounded-lg shadow-xl border-gray-700 mt-24 backdrop-blur-xl"
>
	<img
		src="https://avatars.githubusercontent.com/u/7108114"
		class="rounded-l-lg w-44 mr-3"
	/>
	<div class="m-auto pr-4">
		<p class="text-2xl inline">
			Amr Essam <img
				class="w-6 inline"
				src="https://www.enji.dev/_next/image?url=%2Fassets%2Femojis%2Flove-you-gesture.png&w=96&q=75"
			/>
		</p>
		<p class="text-sm">
			<svg
				xmlns="http://www.w3.org/2000/svg"
				fill="none"
				viewBox="0 0 24 24"
				stroke-width="1.5"
				stroke="gray"
				class="w-6 h-6 inline"
			>
				<path
					stroke-linecap="round"
					stroke-linejoin="round"
					d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75"
				></path>
			</svg>

			amr_esam@ymail.com
		</p>
	</div>
</div>
