---
---

<!-- ID card with a rounded circle and the name after it -->
<div
	class="mx-auto border rounded-lg shadow-xl border-gray-800 py-3 max-w-3xl mt-24 backdrop-blur-xl"
>
	<img
		src="https://avatars.githubusercontent.com/u/7108114"
		class="rounded-full display-block mx-auto mb-3"
		width="300"
	/>
	<p class="text-3xl text-center flex justify-center">
		Amr Essam<img
			class="w-8"
			src="https://www.enji.dev/_next/image?url=%2Fassets%2Femojis%2Flove-you-gesture.png&w=96&q=75"
		/>
	</p>

	<p class="text-base text-center">Oi, cunt</p>
	<div class="mx-auto text-center">
		<p class="inline">amr_esam@ymail.com</p>
	</div>
</div>
