---
import "../styles/global.css";
const pages = [
	{
		title: "Home",
		url: "/",
	},
	{
		title: "About",
		url: "/about",
	},
];
---

<nav
	class="left-0 flex justify-between p-6 items-center w-screen mb-6 backdrop-blur-xl top-0 absolute"
>
	<p>WELCOME</p>
	<ul>
		{
			pages.map((page) => (
				<li class="inline ml-3">
					<a
						class="bg-gray-800 px-8 py-2 text-white text-center rounded"
						href={page.url}
					>
						{page.title}
					</a>
				</li>
			))
		}
	</ul>
</nav>
