---
import "../styles/global.css";
const pages = [
	{
		title: "Home",
		url: "/",
	},
	{
		title: "About",
		url: "/about",
	},
];
---

<p>WELCOME</p>
<nav class="absolute right-0 top-0">
	<ul>
		{
			pages.map((page) => (
				<li class="inline mx-6">
					<a href={page.url}>{page.title}</a>
				</li>
			))
		}
	</ul>
</nav>
