---
import Nav from "../components/Nav.astro";
import MainHeader from "./MainHeader.astro";
import "../styles/global.css";

export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<MainHeader title={title} />
	<body class="p-3 bg-gray-900 text-gray-300">
		<Nav />
		<slot />
		<style>
			html {
				height: 100%;
			}
			body {
				height: 100%;
				background-image: linear-gradient(
						rgba(128, 128, 130, 0.7),
						transparent 0.04em
					),
					linear-gradient(90deg, rgba(128, 128, 130, 0.7), transparent 0.04em);
				background-size: 2em 2em;
			}
		</style>
	</body>
</html>
